- title @note

= RedCloth.new(@note.body).to_html
= print_contacts(@note.contacts)

%p
  = link_to "Edit", edit_note_path(@note)
  |
  = link_to "Destroy", @note, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", notes_path
