- title "People"

%table
  %tr
    %th First Name
    %th Last Name
    %th Phone Numbers
  - for person in @people
    %tr
      %td= h person.first_name
      %td= h person.last_name
      %td
        = print_numbers person.phone_numbers
        = link_to "(add)", new_phone_number_path(:person_id => person)
      %td= link_to 'Show', person
      %td= link_to 'Edit', edit_person_path(person)
      %td= link_to 'Delete', person, :confirm => "Are you sure you want to delete #{person}?", :method => :delete

%p= link_to "New Person", new_person_path
