- title @person

%p
  %strong Phone Numbers:
  = print_numbers @person.phone_numbers

%p
  %strong Email Addresses:
  = print_email_addresses @person.email_addresses

%p
  = link_to "Edit", edit_person_path(@person)
  |
  = link_to "Destroy", @person, :confirm => "Really delete #{@person}?", :method => :delete
  |
  = link_to "View All People", people_path
