- title "Attachments"

%table
  %tr
    %th Title
  - for attachment in @attachments
    %tr
      %td= h attachment.title
      %td= link_to 'Show', attachment
      %td= link_to 'Edit', edit_attachment_path(attachment)
      %td= link_to 'Destroy', attachment, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Attachment", new_attachment_path
