- title @attachment

%p
  %strong= link_to @attachment.file.original_filename, @attachment.file.url

%p
  %strong Associated With Contacts:
= print_contacts(@attachment.contacts)

%p
  = link_to "Edit", edit_attachment_path(@attachment)
  |
  = link_to "Destroy", @attachment, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", attachments_path
