- semantic_form_for @phone_number do |f|
  = f.error_messages
  - f.inputs do
    = f.input :number
    = f.input :contact_id, :as => :hidden
    = f.input :label
    
  - f.buttons do
    = f.commit_button
    = link_to('or Delete this Phone Number', @phone_number, :confirm => 'Are you sure?', :method => :delete) unless @phone_number.new_record?