- title "Phone Numbers"

%table
  %tr
    %th Number
    %th Person
  - for phone_number in @phone_numbers
    %tr
      %td= h phone_number.number
      %td= h phone_number.person_id
      %td= link_to 'Show', phone_number
      %td= link_to 'Edit', edit_phone_number_path(phone_number)
      %td= link_to 'Destroy', phone_number, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Phone Number", new_phone_number_path
