- semantic_form_for @email_address do |f|
  = f.error_messages
  - f.inputs do
    = f.input :address
    = f.input :person_id, :as => :hidden
    = f.input :label
    
  - f.buttons do
    = f.commit_button
    = link_to('or Delete this Email Address', @email_address, :confirm => 'Are you sure?', :method => :delete) unless @email_address.new_record?